 .menu-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 60px 20px 20px;
  position: relative;
}

.menu-title {
  text-align: center;
  font-size: 38px;
  margin-bottom: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #292929;
}

.menu-progress-text {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #292929;
}

.range-button {
  border-radius: 10px;
  border: none;
  height: 40px;
  width: 100%;
  
  background-color: lightgray;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 5px;
  
}


.range-buttons-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 10px;
  justify-content: center;
  text-align: center;
  
}

.range-button.completed {
  background-color: green;
  color: white;
}

.range-button.partial {
  background-color: rgba(240, 216, 80, 0.546); /* или желтый */
  color: black;
}

.reset-button {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 20px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 600px) {
  .menu-container {
    padding: 30px 12px;
  }

  .menu-title {
    font-size: 22px;
  }
}
